body {
  font-size: 20px;
  color: #0b2f57;
  font-family: Lato;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: Lato;
}
a {
  color: #0b2f57;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:focus,
a:hover {
  color: #0085a1;
}
blockquote {
  font-style: italic;
  color: #868e96;
}
.section-heading {
  margin-top: 60px;
}
.about-paragraph-heading {
  margin-top: 40px;
}
.paragraph-heading {
  margin-top: 160px;
}
.image-vertical-align {
  margin-top: -15%;
}
.header-vertical-align {
  margin: 10%;
}
.top-pref-vertical-align {
  margin-top: 20%;
}
.why-rent-header-vertical-align {
  margin: 1em 0;
}
.why-rent-paragraph-vertical-align {
  margin-top: 4%;
}
.why-rent-image-vertical-align {
  margin-top: 50%;
  margin-top: -15%;
}
.why-rent-image-align {
  margin: 50% auto;
}
.get-started-paragraph-vertical-align {
  margin-top: 5%;
}
.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
::-moz-selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}
#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus,
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085a1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085a1;
  }
  #mainNav.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}
header.masthead .post-heading h1 {
  font-size: 35px;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", "Times New Roman", serif;
}
header.masthead .post-heading .meta a {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #212529;
}
.post-preview > a:focus,
.post-preview > a:hover {
  text-decoration: none;
  color: #0085a1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}
.post-preview > .post-meta > a:focus,
.post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085a1;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: "Lora", "Times New Roman", serif;
}
.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: "Lora", "Times New Roman", serif;
}
.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.floating-label-form-group .help-block {
  margin: 15px 0;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn-primary {
  background-color: #0b2f57;
  border-color: #0b2f57;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #0b2f57 !important;
  border-color: #0b2f57 !important;
}

.btn-outline-primary {
  border-color: #0b2f57;
  color: #0b2f57;
  /* change tect color to border color*/
}
.btn-outline-primary:hover {
  color: #fff;

  background-color: #0b2f57;
  border-color: #0b2f57;
}

.call-to-action {
  position: relative;
  background-color: #f37b53;
  background-size: auto;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.Path {
  width: 303px;
  height: 82px;
  border: solid 8px #f37b53;
}
.get-started-Rectangle {
  width: 100%;
  height: 522px;
  border: solid 1px #979797;
  background-color: #f37b53;
}
#get-started-header {
  margin-top: 3em;
  color: white;
  margin-bottom: -24px;
}
.get-started-paragraph-vertical-align {
  margin-top: 5%;
}
.review-Rectangle {
  width: 393px;
  height: 236px;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 #d6d6d6;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.why-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 #d6d6d6;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  padding: 1em;
}
.why-search-Rectangle {
  width: 88%;
  height: 63px;
  border-radius: 3px;
  border-color: white;
  background-color: #ffffff;
}
.see-why-Rectangle {
  height: 50%;
  width: 90%;
  padding: 25px;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 #d6d6d6;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  margin-right: 0.5m;
  margin-left: 0.5em;
}
.see-why-user-icons {
  height: 80px;
  width: auto;
}
.see-why-header {
  white-space: nowrap;
}
.navbar-blue-Rectangle {
  width: 100%;
  height: 62px;
  background-color: #092748;
}
.top-pref-btn-font-rz {
  font-size: 0.9vw;
  white-space: nowrap;
}
.top-pref-vertical-align {
  margin-top: 20%;
}
.top-pref-Rectangle {
  width: 15em;
  height: 15em;
  white-space: nowrap;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  object-fit: contain;
}
.top-pref-btn-font-rz {
  white-space: nowrap;
  padding: 15px 0px;
}
.top-pref-btn-blue {
  width: 100%;
  height: 4em;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color: white;
  padding: 2px;
}
.top-pref-btn-white {
  width: 100%;
  height: 4em;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #092748;
  background-color: #ffffff;
  padding: 2px;
}
.top-pref-vertical-align {
  margin-top: 20%;
}
.remove-icon-outline {
  border: 0px;
  background-color: transparent;
}
.how-it-works-oval {
  width: 280px;
  height: 280px;
  box-shadow: 0 2px 6px 0 #d6d6d6;
  background-color: #ffffff;
}
.how-it-works-img-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.unique-features-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 46px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}
.unique-features-row-align {
  margin-top: 1em;
}
.unique-features-row-fix {
  margin-top: 1em;
}
#unique-features-form {
  padding-left: 15%;
  padding-right: 10%;
}
#unique_features_header {
  padding-top: 60px;
}
.unique-features-btn-row-align {
  margin: 1em auto;
}
.unique-feature-btn-blue {
  width: 9.5em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color: white;
  padding: 2px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.unique-feature-btn-white {
  width: 9.5em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #092748;
  background-color: #ffffff;
  padding: 2px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
input[type="radio"] {
  transform: scale(2);
}
.Oval {
  width: 22px;
  height: 22px;
  border: solid 4px #5c676f;
}
.Line {
  width: 12px;
  height: 11px;
  border: solid 4px #5c676f;
}
.background-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
#bedrooms-bathrooms-form {
  padding-left: 10%;
  padding-right: 10%;
}
.bedrooms-bathrooms-btn-row-align {
  margin: 1em auto;
}
.bedrooms-bathrooms-btn-white {
  width: 105px !important;
  height: 105px !important;
  font-family: "Lato";
  border-radius: 3px;
  border: solid 1px #092748;
  color: #1a232a;
  background-color: #ffffff;
  padding: 2px;
}
.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
#welcome {
  margin: 10% 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.26),
    rgba(243, 123, 83, 0.36),
    rgba(243, 123, 83, 0.36),
    rgba(243, 123, 83, 0.31)
  );
}
.home-search-bar-icon {
  height: 2.2em;
}
.bdr-color {
  border-color: white;
  border-radius: 3px;
  margin-left: -1px;
  display: inline-block;
}
.home-search-btn-blue {
  width: 100%;
  height: 4.4em;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color: white;
}
.no-br {
  border-color: white;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.start-barking-btn-blue {
  width: 284px;
  height: 44px;
  padding: 5px;
  background-color: #092748;
  color: white;
  object-fit: contain;
}
.barker-steps-num-align {
  margin-top: -1.3em;
  margin-bottom: 1.3em;
}
.Rectangle {
  width: 100%;
  height: 333px;
  border-radius: 32px;
  box-shadow: 0 2px 4px 0 #d6d6d6;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.navbar-btn-white {
  width: 100%;
  height: 100%;
  color: #092748 !important;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #092748;
}
#get-started-header {
  margin-top: 3em;
  color: white;
  margin-bottom: -24px;
}
.dot {
  height: 250px;
  width: 250px;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 50px;
  padding-left: 30px;
  display: inline-block;
}
.about-yourself-Rectangle {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}
#gradient-orange {
  background-image: linear-gradient(white,rgba(255, 255, 255, 0.26), rgba(243, 123, 83, 0.36), rgba(243, 123, 83, 0.31)) !important;
}
.barker-brochure-btn-blue {
  width: 307px;
  height: 75px;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin-top: 1.0em;
  margin-left: 1.0em;
  margin-right: 1.0em;
}
.barker-brochure-app-Rectangle {
  width: 80%;
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}
.barker-brochure-name-heading {
  font-size: 36px;
  font-weight: 700;
  margin-left: 4%;
  margin-top: 75px;
}
.barker-brochure-rental-history-Rectangle {
  width: 100%;
  height: 23em;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  padding: 2% 50px 4% 50px;
  margin: 1em auto;
}
.barker-brochure-main-Rectangle {
  width: 100%;
  height: 100%;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 0px 4% 6% 4%;
}
.barker-brochure-stat-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin: 1% 1%;
  padding: 2% 25px;
}
.barker-brochure-credit-Path {
  width: 192px;
  height: 96px;
  border-style: solid;
  border-width: 8px;
  border-image-source: linear-gradient(to right, #a41e03 1%, #d37d04 17%, #f4cd02 47%, #1c7406);
  border-image-slice: 1;
}
.barker-brochure-tab-Rectangle-white {
  width: 200%;
  height: 2em;
  border-radius: 10px;
  border: solid 1px #979797;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
  margin-bottom: -1px;
  margin-left: -15px;
  padding: 10px;
}
.barker-brochure-tab-Rectangle-blue {
  width: 210%;
  height: 2em;
  border-radius: 10px;
  border: solid 1px #979797;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  background-color: #092748;
  margin-bottom: -1px;
  margin-left: 70%;
  padding: 10px;
}
.new-offer-btn-blue {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 1px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
}
.offer-extended-header {
  margin-top: 5em;
}
.offer-extended-Rectangle {
  width: 100%;
  height: 70%;
  border-radius: 7px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.offer-extended-scrollbox {
  width: 100%;
  height: 10em;
  line-height: 3em;
  overflow: auto;
  padding: 5px; 
  overflow-y: scroll;
}
.offer-extended-btn-white {
  width: 100%;
  height: 3em;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #ffffff;
  color: #092748;
  padding: 1px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
}
.accept-offer-btn-blue {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin: 1.0em auto;
}
.accept-offer-btn-white {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #092748;
  background-color: #ffffff;
  padding: 2px;
  margin: 1.0em auto;
}
.modal-open .container {
  -webkit-filter: blur(5px) grayscale(90%);
  filter: blur(5px) grayscale(90%);
}
.accept-offer-modal-btn-blue {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin: 1.0em auto;
}
.accept-offer-modal-btn-white {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #092748;
  color: #092748;
  background-color: #ffffff;
  padding: 2px;
  margin: 1.0em auto;
}
.congratulations-Rectangle {
  width: 100%;
  height: 100%;
  border: solid 1px #979797;
  padding: 8%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.congratulations-details-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 2%;
}
.congratulations-btn-blue {
  width: 50em;
  height: 5em;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin: 1.0em auto;
}
.how-did-it-go-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 5%;
}
.how-did-it-go-btn-blue {
  width: 100%;
  height: 44px;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color: white;
  object-fit: contain;
}
.how-did-it-go-dot {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 10px;
  display: inline-block;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding: 0;
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}
.chat_ib h5 span {
  font-size: 13px;
  float: right;
}
.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  width: 57%;
}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  padding: 0 0 50px 0;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
.budget-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 46px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin-top: 8em;
  padding: 2em;
}
.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
#welcome {
  margin: 50% auto;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.26),
    rgba(243, 123, 83, 0.36),
    rgba(243, 123, 83, 0.31)
  );
}
.dot {
  height: 250px;
  width: 250px;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 50px;
  padding-left: 30px;
  display: inline-block;
}
.about-yourself-Rectangle {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}
.one-time-app-Rectangle {
  width: 80%;
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}
#one-time-app {
  margin-bottom: 10%;
}
#one-time-app-footer {
  margin-top: 10%;
}
#one-time-stretch {
  margin-top: 20em;
}

#gradient-orange {
  background-image: linear-gradient(white,rgba(255, 255, 255, 0.26), rgba(243, 123, 83, 0.36), rgba(243, 123, 83, 0.31)) !important;
}
.barker-brochure-btn-blue {
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
}
.barker-brochure-app-Rectangle {
  width: 80%;
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}
.barker-brochure-name-heading {
  margin-left: 4%;
  margin-top: 75px;
}
.barker-brochure-rental-history-Rectangle {
  width: 100%;
  height: 40em;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  padding: 2% 50px 4% 50px;
  margin: 1em auto;
}
.barker-brochure-main-Rectangle {
  width: 100%;
  height: 100%;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 0px 4% 6% 4%;
}
.barker-brochure-stat-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin: 1% 1%;
  padding: 2% 25px;
}
.barker-brochure-credit-Path {
  width: 192px;
  height: 96px;
  border-style: solid;
  border-width: 8px;
  border-image-source: linear-gradient(to right, #a41e03 1%, #d37d04 17%, #f4cd02 47%, #1c7406);
  border-image-slice: 1;
}
.barker-brochure-tab-Rectangle-white {
  width: 200%;
  height: 2em;
  border-radius: 10px;
  border: solid 1px #979797;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
  margin-bottom: -1px;
  margin-left: -15px;
  padding: 10px;
}
.barker-brochure-tab-Rectangle-blue {
  width: 210%;
  height: 2em;
  border-radius: 10px;
  border: solid 1px #979797;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  background-color: #092748;
  margin-bottom: -1px;
  margin-left: 70%;
  padding: 10px;
}
.new-offer-btn-blue {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 1px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
}
.offer-extended-header {
  margin-top: 5em;
}
.offer-extended-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.offer-extended-scrollbox {
  width: 100%;
  height: 10em;
  line-height: 3em;
  overflow: auto;
  padding: 5px; 
  overflow-y: scroll;
}
.offer-extended-btn-white {
  width: 100%;
  height: 3em;
  object-fit: contain;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #ffffff;
  color: #092748;
  padding: 1px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
}
.accept-offer-btn-blue {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin: 1.0em auto;
}
.accept-offer-btn-white {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #092748;
  background-color: #ffffff;
  padding: 2px;
  margin: 1.0em auto;
}
.modal-open .container {
  -webkit-filter: blur(5px) grayscale(90%);
  filter: blur(5px) grayscale(90%);
}
.accept-offer-modal-btn-blue {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin: 1.0em auto;
}
.accept-offer-modal-btn-white {
  width: 20em;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #092748;
  color: #092748;
  background-color: #ffffff;
  padding: 2px;
  margin: 1.0em auto;
}
.congratulations-Rectangle {
  width: 100%;
  height: 100%;
  border: solid 1px #979797;
  padding: 8%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.congratulations-details-Rectangle {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 2%;
}
.congratulations-btn-blue {
  width: 50em;
  height: 5em;
  border-radius: 3px;
  border: solid 1px #33546d;
  background-color: #092748;
  color:white;
  padding: 2px;
  margin: 1.0em auto;
}

.color-nav{
  background-color: #0b2f57;
  color: white
}
